div(style="font-family:Arial;margin: 10px;padding:10px")
    div(style="width:400px;margin-left:auto;margin-right:auto")
      h1 Study Search Results
    div(style="width:80%;margin-left:auto;margin-right:auto")    
    if  results.length != 0 
      each search in results
        p <a style="color:#0099ff;padding:10px;font-weight:bold;" href="#{search.savedSearch.url}">#{search.savedSearch.name_label}</a>  found #{search.total} new or updated studies
    else
      p No new or updated studies found.